/* База */

body {
    background-color: #e4dfda;
    color: #c1666b;
    width: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

/* Все, что не контент - строка навигации, футер и тд */

header {
    border-bottom: 2px solid #c1666b;
    width: 100%;
}

#title {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;
}

.navbar {
    border-top: 2px solid #c1666b;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

footer {
    border-top: 2px solid #c1666b;
    width: 100%;
}

/* Ссылки */

a {
    color: #731dd8;
}

a:visited {
    color: #48a9a6;
}

a:hover {
    color: #4b128d;
}

/* Основной контент */

h1 {
    font-size: 1.5rem;
}

main {
    width: 60%;
    margin: 20px;
}

img {
    border: 4px solid #731dd8;
}

/* Форма */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;
}

form button {
    width: 20%;
    height: 50px;
}

textarea {
    border: 1px solid #731dd8;
    box-shadow: 0 0 1px #731dd8;
    border-radius: 3px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea:-moz-focusring {
    border: 3px solid #48a9a6;
}

button {
    border: 1px solid #731dd8;
    background-color: #dfd6ea;
    color: #731dd8;
    border-radius: 6px;
    font-weight: bold;
}

button:hover {
    background-color: #bfadd5;
}

button:active {
    border: 1px solid #48a9a6;
    background-color: #b2d7d6;
    color: #48a9a6;
    border-radius: 6px;
}