<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="/static/ico/favicon.png"/>
</head>
<body>
    <div class="container">
        <header>
            <p id="title">QRGen - Генератор QR-кодов</p>
            <div class="navbar">
                <ul>
                    <li><a href="{{ url_for('home') }}">Главная</a></li> |
                    <li><a href="{{ url_for('about') }}">О сайте</a></li>
                </ul>
            </div>
        </header>

        <main>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>

        <footer>
            <ul>
                <li>Все коды хранятся 24 часа</li> |
                <li>QRGen © 2026</li>
            </ul>
        </footer>
    </div>
</body>